@media only screen and (max-width:1199px) {
    .navbar .container-fluid {
        padding: 0px 40px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
        padding: 0 8px;
    
    }
    .navbar .participate-btn{
     
     
        padding-right: 25px;
  
        padding-left: 25px;
       
    }
    
}
@media only screen and (max-width:991px) {
    
    .navbar .container-fluid {
        padding: 0px 20px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
        padding: 0 8px;
    
    }
    .navbar .participate-btn{
     
     
        padding-right: 20px;
  
        padding-left: 20px;
        font-size: 14px;
       
    }
}

@media only screen and (max-width:767px) {
    .navbar-dark .navbar-nav .nav-item:hover::after{
        width: 0dvh;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    
    }
    .phonenum, .links {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0px;
        text-align: center;
    }
    .judges h3{
        font-size: 30px;
        line-height: 39px;
    }
    .judges p{
        font-size: 18px;
        line-height: 27px;

        font-weight: 400;
      
    }
   
}
@media only screen and (max-width:575px) {
    .navbar-dark .navbar-nav .nav-item:hover::after{
        width: 0dvh;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    
    
    }
}