@media only screen and (max-width:1199px) {
    .navbar .container-fluid {
        padding: 0px 40px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
        padding: 0 8px;
    
    }
    .navbar .participate-btn{
     
     
        padding-right: 25px;
  
        padding-left: 25px;
       
    }
    
}
@media only screen and (max-width:991px) {
    
    .navbar .container-fluid {
        padding: 0px 20px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
        padding: 0 8px;
    
    }
    .navbar .participate-btn{
     
     
        padding-right: 20px;
  
        padding-left: 20px;
        font-size: 14px;
       
    }
    .hero-section h1 {
        font-size: 45px;
        line-height: 40px;
    }
    .hero-section h3 {
        font-size: 36px;
        line-height: 47px;
    }
    .hero-section p {
        font-size: 18px;
        line-height: 24px;
    }
    .slider .slide-text {
        padding-left: 25px;
    }
    .slider-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icononic{
display: flex;
justify-content: center;
margin-bottom: 20px;
    }
    .seem .subbox {
        margin-bottom: 20px;
    }
    .seem p {
        text-align: start;
    }
   
}

@media only screen and (max-width:767px) {
    .navbar-dark .navbar-nav .nav-item:hover::after{
        width: 0dvh;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    
    }
    .phonenum, .links {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0px;
        text-align: center;
    }
    .judges h3{
        font-size: 30px;
        line-height: 39px;
    }
    .judges p{
        font-size: 18px;
        line-height: 27px;

        font-weight: 400;
      
    }
    /* Home page */
    .hero-section .main-panel{
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .hero-section .row{
        padding: 50px 20px 150px 20px;
    }
    .hero-section h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .hero-section h3 {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .hero-section p {
        font-size: 16px;
    }
    .slider .slide-text {
        padding-left: 20px;
        margin-top: 30px;
    }
    .pattern .slide-text {
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
    }
    .pattern p {
       text-align: center;
    }
  
}
@media only screen and (max-width:575px) {
    .navbar-dark .navbar-nav .nav-item:hover::after{
        width: 0dvh;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    
    
    }
    .hero-section .play-btn{
        width: 50px;
    }
}

@media only screen and (max-width:470px) {
   .hero-section .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }
   .me-4 {
    margin-right: 0px!important;
    margin-bottom: 15px;
}
}